<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelFeed()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Créer une publication</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="postFeed()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button lines="none">
      <ion-label>Short Name</ion-label>
      <span slot="end">@user</span>
    </ion-item>
  </ion-list>
  <ion-textarea [formControl]="messageControl" class="feed-post" placeholder="Que voulez-vous dire ?" rows='10'>
    
  </ion-textarea>
  <ion-list>
    <ion-list-header>
      <ion-label>qsqsqsqsqsqs</ion-label>
    </ion-list-header>
    <ion-item button lines="none">
      <ion-label>Video</ion-label>
    </ion-item>
    <ion-item button lines="none">
      <ion-label>photos</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Community Management</ion-label>
    </ion-list-header>
    <ion-item button lines="none">
      <ion-label>
        Commenting as Community
        <p>In Your Communities Only</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Comments</ion-label>
    </ion-list-header>
    <ion-item button lines="none">
      <ion-label>
        Comment Order
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>