<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-off-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-segment [formControl]="activeSegment">
      <ion-segment-button value="feedback">
        {{'notification_feedback_title' | translate}}
      </ion-segment-button>
      <ion-segment-button value="comments">
        {{'notification_comments_title' | translate}}
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item button lines="none" *ngFor="let notif of notifs" [routerLink]="page_item.link"
      routerDirection="forward" style="--min-height: 56px;">
      <ion-fab-button slot="start" size="small" [color]="page_item.color" style="width: 30px;height: 30px;">
        <ion-icon size="small" color="light" [name]="page_item.icon"></ion-icon>
      </ion-fab-button>
      <ion-label>{{'settings_notifications.' + notif.id | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>